@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary-orange: #dda124;
  --color-primary-hover: #b88114;
  --color-dark-bg: #2d0b3f;
  --color-light-bg: #f4f5f7;
  --color-text-white: #ffffff;
  --color-text-dark: #333333;
  --color-text-gray: #666666;
  
  --font-sans: var(--font-inter);
}

@layer base {
  body {
    font-family: var(--font-sans);
    background-color: var(--color-light-bg);
    color: var(--color-text-dark);
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-funnel);
  }
}
